.nav-btn{
    background: transparent;
    padding: 0;
    border-radius: 24px;
    height: 40px;
}
.text-black{
    color: #0F0F0F !important;
}
.dropdown-toggle{
    color: #0F0F0F !important;
}

.selected-text{
    color: #34539B !important;
    font-weight: 500;
    .dropdown-toggle{
        color: #34539B !important;
    }.nav-link{
        color: #34539B !important;
    }
}

.dot-focus{
    top: 80%;
    left: 40%;
    position: absolute;
}

.dot-focus-drop-down{
    top: 80%;
    left: 40%;
    position: absolute;
}