
.footer{
    background-color: #3f5fa6;
    background-size: cover;
    color: white;
    li{
        font-size: 18px;
        line-height: 26px;
        width: fit-content;
    }
    a{
        color: white;
        text-decoration-line: none;
    }
    .footer-logo{
        width: 300px;
    }
}
.footer-text{
    color: white;
    text-align: start;
}
.footer-copy-right{
    background: #0F0F0F;
    h5{
        font-size: 14px;
        font-weight: 500;
        color: #ABABAB;
        text-align: start;
    }
}